<!-- Header - Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">LOGO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="">Inicio</a></li>
          <li class="nav-item"><a class="nav-link" href="productos">Productos</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Tecnología</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Hardware</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Periféricos</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Otros</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Ayuda</a></li>
          <li class="nav-item"><a class="nav-link" href="publicar">Publicar</a></li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Busca tu producto" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://via.placeholder.com/50" class="rounded-circle" alt="Profile">
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Iniciar Sesión</a></li>
              <li><a class="dropdown-item" href="#">Registrarse</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  